.boardLayoutMain {
  .boardLayoutHeader {
    height: REM(96);
    background-color: var(--default-accent-bg);
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: REM(10);
    align-items: center;
    padding: REM(24);
  }

  .boardLayoutContent {
    display: flex;
    height: 100%;
  }

  .sidebar {
    background-color: var(--default-accent-bg);
    width: REM(300);
    height: calc(100dvh - REM(96));
  }
}
