@use "abstracts" as *;

.selectList {
  animation: fadeIn 0.3s ease-out;
  background-color: var(--default-bg);
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
  display: none;
  left: 0;
  list-style: none;
  max-height: REM(130);
  padding: REM(16);
  position: absolute;
  top: REM(40);
  width: 100%;
  z-index: -1;
  overflow-y: auto;

  &.isOpen {
    display: grid;
    row-gap: REM(8);
    z-index: 5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
