.columnWrapper {
  display: grid;
  row-gap: 2.4rem;

  .headline {
    align-items: center;
    color: var(--medium-grey);
    column-gap: 1.2rem;
    display: flex;
    letter-spacing: 0.24rem;
    line-height: normal;
    text-transform: capitalize;

    .circle {
      border-radius: 100%;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
