@use "breakpoints" as *;

.modalTrigger {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal {
  display: grid;
  grid-template-columns: 1.6rem 1fr 1.6rem;
  height: 100%;
  left: 0;
  min-height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .modalBackdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .modalContent {
    background-color: var(--accent-bg);
    max-width: 48rem;
    width: 100%;
    padding: 2.4rem;
    border-radius: 0.6rem;
    margin: 8rem 0;
    grid-column: 2 / 2;
    grid-row: 1;

    &.top {
      place-self: start center;
    }

    &.center {
      place-self: center;
    }
  }

  @include media-query("md") {
    .modalContent {
      padding: 3.2rem;
    }
  }
}
