.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: grid;
  place-items: center;
  padding: REM(16);

  .modal {
    background-color: var(--dark-grey);
    border-radius: 6px;
    max-height: 90%;
    max-width: REM(480);
    overflow-y: auto;
    padding: REM(32);
    position: relative;
    width: 100%;
  }
}
