.modalWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: REM(24);
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &.top {
    place-items: start center;

    .modal {
      margin-top: REM(80);
    }
  }

  .modal {
    background-color: var(--default-accent-bg);
    border-radius: 6px;
    max-width: REM(480);
    padding: REM(32);
    position: relative;
    width: 100%;
  }

  .title {
    @include heading-lg;
    color: var(--default-text-color);
    margin-bottom: REM(24);
  }
}
