.modalTrigger {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  display: grid;
  padding: 8rem 1.6rem;

  &.top {
    place-items: start center;
  }

  &.center {
    place-items: center;
  }

  .modalContent {
    background-color: var(--accent-bg);
    max-width: 48rem;
    width: 100%;
    padding: 3.2rem;
    border-radius: 0.6rem;
  }
}
