@use "breakpoints" as *;

.container {
  height: 100%;
  padding: 2.8rem 2.4rem;
  display: none;
  max-width: 100%;

  // &.isOpen {
  //   width: 26rem;
  // }

  img {
    display: block;
  }

  @include media-query("md") {
    display: inline-block;
  }
}
