@use "sass:math";

.columnsListWrapper {
  display: flex;
  column-gap: REM(24);
  padding: REM(24) REM(24) REM(50);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .column {
    height: calc(100dvh - REM(96) - REM(24) - REM(50));
    width: REM(280);
  }

  .columnHeader {
    @include heading-sm;
    align-items: center;
    color: var(--medium-grey);
    column-gap: REM(12);
    display: flex;
    letter-spacing: 2.4px;
    margin-bottom: REM(24);
    text-transform: uppercase;

    .circle {
      border-radius: 100%;
      height: REM(15);
      width: REM(15);
      display: inline-block;
      background-color: blue;
    }
  }

  .taskList {
    align-items: start;
    display: grid;
    grid-auto-rows: min-content;
    height: 100%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    row-gap: REM(20);
    width: REM(280);
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .taskLink {
    text-decoration: none;

    .task {
      border-radius: 8px;
      background-color: var(--default-accent-bg);
      box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
      padding: REM(23) REM(16);
    }

    .title {
      @include heading-md;
      color: var(--default-text-color);
      margin-bottom: REM(8);
      word-break: break-word;
      transition: color 0.2s ease;
    }

    .description {
      @include body-md;
      color: var(--medium-grey);
      word-break: break-word;
    }

    &:hover {
      .title {
        color: var(--main-purple);
      }
    }
  }

  .addColumn {
    margin-top: REM(39);
    display: grid;
    place-items: center;
    border-radius: REM(6);
    background: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.13) 100%);
    text-align: center;

    .addColumnLink {
      @include heading-xl;
      color: var(--medium-grey);
      text-decoration: none;
      transition: color 0.2s ease;
      width: REM(280);

      &:hover {
        color: var(--main-purple);
      }
    }
  }
}
