.container {
  container: column-wrapper / inline-size;

  display: flex;
  column-gap: 2.4rem;

  > * {
    flex: 1;
  }
}

@container column-wrapper(width > 900px) {
  .container div {
    background-color: red;
  }
}
