:root {
  --black: #000112;
  --white: #ffffff;

  --dark-grey: #2b2c37;
  --medium-grey: #828fa3;

  --very-dark-grey-dark-bg: #20212c;
  --light-grey-light-bg: #f4f7fd;

  --lines-dark: #3e3f4e;
  --lines-light: #e4ebfa;

  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --light-purple: #635fc71a;
  --light-purple-hover: #635fc740;

  --red: #ea5555;
  --red-hover: #ff9898;


  // theme
  --default-bg: var(--light-grey-light-bg);
  --default-text-color: var(--black);
  --default-body-text-color: var(--dark-grey);
  --default-border-color: #828fa340;

  // buttons
  --default-secondary-btn-bg: var(--light-purple);
  --default-secondary-btn-hover: var(--light-purple-hover);

  // inputs
  --default-input-bg: var(--white);
  --default-checkbox-wrapper-bg: var(--light-grey-light-bg);
}

html {
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--default-bg);

  &[data-current-theme-color="light"] {
    color-scheme: light;
  }

  &[data-current-theme-color="dark"] {
    --default-bg: var(--very-dark-grey-dark-bg);
    --default-text-color: var(--white);
    --default-secondary-btn-bg: var(--white);
    --default-secondary-btn-hover: var(--white);
    --default-checkbox-wrapper-bg: var(--very-dark-grey-dark-bg);
    --default-input-bg: var(--dark-grey);

    color-scheme: dark;
  }
}
