@use "breakpoints" as *;

.dashboardHeader {
  min-height: 6.4rem;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  column-gap: 1.6rem;
  background-color: var(--accent-bg);
  max-width: 100%;

  .logo {
    align-items: center;
    column-gap: 1.6rem;
    display: flex;

    .headline {
      display: flex;
      align-items: center;

      h2 {
        color: var(--logo-headline-txt-color);
        margin-right: 0.8rem;
      }

      .icon {
        width: 1rem;
        height: 0.7rem;
      }
    }
  }

  .cta {
    margin-left: auto;
    width: 4.8rem;
    height: 3.2rem;
    line-height: normal;

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }

    span {
      display: none;
    }
  }

  .kebabMenu {
    width: 0.3692rem;
    height: 1.6rem;
  }

  @include media-query("md") {
    border-bottom: 0.1rem solid var(--line-accent);

    .logo {
      img,
      .headline svg {
        display: none;
      }
    }

    .cta {
      display: flex;
      gap: 1rem;
      width: fit-content;

      span {
        display: inline-block;
      }
    }
  }
}
