.boardNameWrapper {
  align-items: center;
  column-gap: REM(8);
  display: flex;

  .boardName {
    @include heading-lg;
    color: var(--default-text-color);
    text-transform: capitalize;
  }

  .boardIcon {
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    border: none;
    cursor: pointer;
  }

  div.mobileModal {
    padding: REM(16) REM(24) REM(16) 0;
  }

  .themeToggleWrapper {
    margin-top: REM(31);
  }

  @include media-query("md") {
    div.mobileModalWrapper,
    .boardIcon {
      display: none;
    }
  }

  @include media-query("lg") {
    .boardName {
      @include heading-xl;
    }
  }
}
