.input {
  background-color: var(--default-input-bg);
  border-radius: 4px;
  border: 1px solid var(--default-border-color);
  padding: REM(8) REM(16);

  &:focus,
  &:active {
    border-color: var(--main-purple);
    outline: 1px solid var(--main-purple);
  }
}
