.wrapper {
  display: grid;
  row-gap: REM(24);

  .header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    column-gap: REM(24);

    .title {
      @include heading-lg;
      word-break: break-word;
    }

    .actions {
      display: grid;
      column-gap: REM(16);
    }
  }

  .subtasksHeader,
  .currentStatusHeader {
    @include heading-sm;
    color: var(--white);
  }

  .subtasksHeader {
    margin-bottom: REM(16);
  }

  .currentStatusHeader {
    margin-bottom: REM(8);
  }

  .description {
    @include body-lg;
    color: var(--medium-grey);
  }

  .subtasks {
    display: grid;
    row-gap: REM(8);
    list-style: none;
  }
}
