
$primary-purple: hsl(242, 48%, 58%);
$secondary-purple: hsl(243, 100%, 82%);

$primary-black: hsl(237, 100%, 4%);
$secondary-black: hsl(235, 16%, 15%);
$tertiary-black: hsl(235, 12%, 19%);
$quaternary-black: hsl(236, 11%, 27%);

$primary-white: hsl(0, 0%, 100%);
$primary-white-pale: hsl(221, 69%, 94%);
$primary-white-smoke: hsl(220, 69%, 97%);

$primary-grey: hsl(216, 15%, 57%);

$primary-red: hsl(0, 78%, 63%);
$secondary-red: hsl(0, 100%, 80%);