.kebabMenuButton {
  display: flex;
  align-items: center;
  background-color: transparent;

  .icon {
    pointer-events: none;
  }
}

.kebabMenuItems {
  display: grid;
  row-gap: REM(16);
  list-style: none;

  .menuItem {
    @include body-lg;
    color: var(--medium-grey);
    text-transform: capitalize;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: start;
    display: inline-block;

    &.redTxt {
      color: var(--red);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
